/*///////////////////////////
  Flicker Global
///////////////////////////*/
.flickerText:focus,
.flickerBorder:focus {
  outline: none;
}

/*///////////////////////////
  Flicker Text
///////////////////////////*/
.flickerText {
  animation: flickerText 1.5s infinite alternate;
  color: #fff;
}

/* Animate neon flicker */
@keyframes flickerText {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    text-shadow: -0.2rem -0.2rem 1rem #fff,
    0.2rem 0.2rem 1rem #fff,
    0 0 2rem var(--neon-text-color),
    0 0 4rem var(--neon-text-color),
    0 0 6rem var(--neon-text-color),
    0 0 8rem var(--neon-text-color),
    0 0 10rem var(--neon-text-color);
  }
  20%, 24%, 55% {
    text-shadow: none;
  }
}

/*///////////////////////////
  Flicker Border
///////////////////////////*/
.flickerBorder {
  animation: flickerBorder 1.5s infinite alternate;
  border-color: #fff;
}

/* Animate neon border flicker */
@keyframes flickerBorder {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    box-shadow: 0 0 .5rem #fff,
    inset 0 0 .5rem #fff,
    0 0 2rem var(--neon-border-color),
    inset 0 0 2rem var(--neon-border-color),
    0 0 4rem var(--neon-border-color),
    inset 0 0 4rem var(--neon-border-color);
  }
  20%, 24%, 55% {
    box-shadow: none;
  }
}